body,
html {
  width: 100%;
  height: 85vh;
  font-family: "Karla";
}
#root {
  padding-top: 200px;
}
.calendar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

/* datepicker */

.react-datetime-picker input:focus {
  outline: none;
}
.react-datetime-picker__wrapper {
  border: none;
}
.fab {
  border-radius: 50%;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.fab-danger {
  padding: 25px;
  position: fixed;
  bottom: 25px;
  left: 25px;
}

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader__span {
  margin-top: 25px;
  font-size: 32px;
  font-weight: bold;
}

.tokenEndedText {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.eventAnimation {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: initial;
}

.eventAnimationEvents {
  animation-name: bounceInLeft;
  animation-duration: 1.3s;
  animation-iteration-count: initial;
}

.centered {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button input {
  width: 20%;
}

.welcomeScreen {
  min-width: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcomeScreen h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 62px;
  line-height: 70px;
  font-style: italic;
  margin-bottom: 20px;
}

.welcomeScreen > p {
  font-size: 28px;
  line-height: 35px;
}

p .fa-hand-point-right {
  font-size: 20px;
}
.link-forgot-pasword {
  margin-left: 10%;
}

.userIcon,
.emailIcon,
.passwordIcon {
  margin: 0px auto;
  display: block;
  font-size: 70px;
  color: #0062cc;
  text-align: center;
  margin-top: 20px;
}
.passwordIcon {
  color: #000;
}
.userRegisterIcon {
  margin: 0px auto;
  display: block;
  font-size: 70px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.registerSuccess {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.registerSuccess i {
  display: block;
  font-size: 80px;
  line-height: 92px;
  color: #0062cc;
}
.registerSuccess p {
  margin-top: 25px;
  font-size: 32px;
  line-height: 38px;
  color: #000;
}
.iconError {
  margin: 0px auto;
  display: block;
  font-size: 50px;
  color: #000;
  text-align: center;
  margin-top: 20px;
}

.info-text {
  margin-top: 25px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: center;
}

.eventAnimation2 {
  animation-name: bounceInUp;
  animation-duration: 1s;
  animation-iteration-count: initial;
}
.eventAnimation3 {
  animation-name: bounceInRight;
  animation-duration: 1.3s;
  animation-iteration-count: initial;
}
.eventAnimation4 {
  animation-name: bounceInLeft;
  animation-duration: 1.3s;
  animation-iteration-count: initial;
}

.red {
  background: red;
}
.link-my-profile {
  padding-bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: block;
}

.link-my-profile:hover {
  text-decoration: none;
  color: #0062cc;
}

.icon-navbar {
  color: #0062cc;
}
.btn-primary {
  background: #0062cc;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}
.password-input i {
  /* margin-top: -5 */
  position: absolute;
  right: 10px;
}

@media screen and(min-width: 768px) {
  #root {
    padding-top: 0;
  }
}
